.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
@media screen and (min-width: 1028px){
  .App-body{
    max-width: 60%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px){
  .App-body{
    max-width: 80%;
    margin: 0 auto;
  }
}
.searchbar{
  margin: 20px 0px;
}
.hidden{
  display: none;
}
.searchbar input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #F4F4F4;
    background-image: url('../Images/magnifyIcon.png');
    background-position: right 10px center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

