@media screen and (min-width: 769px){
	.card{
		width: 280px;
		margin: 0 auto;
	}
	.wrapper{
		width: 50%;
		float: left;
		position: relative;
		margin: 30px 0px;
	}
}
@media screen and (max-width: 768px){
	.card{
		width: 100%;
		margin: 0 auto;
	}
	.wrapper{
		width: 45%;
		float: left;
		position: relative;
		margin: 10px;
	}
}
@media screen and (max-width: 425px){
	.card{
		width: 100%;
		margin: 0 auto;
	}
	.wrapper{
		width: 100%;
		float: left;
		position: relative;
		margin: 10px;
	}
}
.image{
	width: 100%;
	display: block;
}
.cardDetails{
	background-color: #D3D3D3;
	height: 100px;
	width: 100%;
}
.cardTitle{
	text-align: left;
	font-weight: 600;
	font-size: 16px;
	padding: 2px 5px;
	height: 20%;
}
.cardDescription{
	text-align: left;
	font-size: 12px;
	padding: 1px 5px;
	height: 80%;
	word-wrap: break-word
}

.deleteCardGrid{
	position: absolute;
	right: 0;
	cursor: pointer;
}
.deleteMe{
	height: 20px;
	width: 20px;
}
.cardGridImageWrapper{
	position: relative;
	display: block;
}
.commentForm{
	padding: 10px 0px;
}
